.login-card {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  border-radius: 19px;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 100%; /* Use percentage for responsiveness */
  max-width: 1200px; /* Limit max width for large screens */
  align-items: center;
  padding: 40px 10px; /* Consistent padding */
  font-family: sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
  gap: 50px;
  opacity: 0.85;
}

.form {
  justify-content: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 100%; /* Make form take full width of the card */
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/back.png');
  width: 100vw; /* Make it responsive to the viewport width */
  height: 100vh; /* Make it responsive to the viewport height */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-left: 70px;
  padding-right: 20px;

}


img {
  width: 400px;
  height: 400px;
}

.btn {
  background-image: linear-gradient(to right, #DE6262 0%, #FFB88C 51%, #DE6262 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}


@media (max-width: 1024px) {
  .login-card {
    width: 70%; 
  }
}

@media (max-width: 768px) {
  .login-card {
    width: 85%; 
  }
}

@media (max-width: 480px) {
  .login-card {
    width: 95%; 
    padding: 30px 10px;
  }

  .btn {
    padding: 10px 30px;
  }

  img {
    width: 150px; 
    height: 150px;
  }
}


.profile-image {
  flex: 0 0 150px; /* Fix width of the image */
}

.form-container {
  flex: 1; /* Allow form to take the remaining space */

}

.map-container {
  flex: 1; /* Allow map to take the remaining space */
  opacity: 1;
  width: 150%
}